# Install:
#    sudo ln -s `pwd`/web_hook_controller.service /etc/systemd/system
#    sudo systemctl daemon-reload
#
# Start on each boot:
#    sudo systemctl enable web_hook_controller.service
#
# Start right now:
#    sudo systemctl start web_hook_controller.service

[Unit]
Description=Web Hook Controller Light Service
Wants=network-online.target
After=network-online.target
Wants=systemd-timesyncd.service
After=systemd-timesyncd.service

[Service]
Environment=DISPLAY=:0
EnvironmentFile=/home/pi/IFTTT.env
Type=simple
Restart=always
ExecStart=/usr/bin/python2 /home/pi/IRbeacon/web_hook_controller.py 2>&1 | tee /home/pi/ir.log

[Install]
WantedBy=multi-user.target
